{% extends 'blog/base.html' %}


{% block title %}Blog Posts{% endblock %}

{% block content %}
  <h1>Blog Posts</h1>

  {% comment %} Search Function {% endcomment %}
  <form method="GET" action="{% url 'post_search' %}" class="search-form">
    <input type="text" 
           name="q" 
           placeholder="Search posts by title, content, or tags..." 
           value="{{ query }}"
           required>
    <button type="submit">Search</button>
</form>

  <ul>
    {% for post in posts %}
      <li>
        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> by {{ post.author }} on {{ post.created_at }}
      </li>
    {% empty %}
      <li>No posts available.</li>
    {% endfor %}
  </ul>
{% endblock %}


