{% block content %}
  <h1>{{ post.title }}</h1>
  <p>by {{ post.author }} on {{ post.created_at }}</p>
  <div>
    {{ post.content|linebreaks }}
  </div>

  <h2>Comments</h2>
  <ul>
    {% for comment in comments %}
      <li>
        <strong>{{ comment.author }}</strong> on {{ comment.created_at }}:
        <p>{{ comment.content|linebreaks }}</p>
        <br>
        <span>tags: 
          {% for tag in comment.tags.all %}
            <span class="tag">{{ tag.name }}</span>
          {% endfor %}
        </span>
        <br>
        <button><a href="{% url 'comment_update' comment.pk %}">Edit</a></button>
        <button><a href="{% url 'comment_delete' comment.pk %}">Delete</a></button>
      </li>
    {% empty %}
      <li>No comments yet.</li>
    {% endfor %}
  </ul>

  <a href="{% url 'comment_form' post.id %}">Add Comment</a>
{% endblock %}
